<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bg.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{642,766}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{642,766}}</string>
        <key>sourceSize</key>
        <string>{642,766}</string>
      </dict>
      <key>icon_displayFrame.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{486,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{486,76}}</string>
        <key>sourceSize</key>
        <string>{486,76}</string>
      </dict>
      <key>btn_password.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,768},{394,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{394,66}}</string>
        <key>sourceSize</key>
        <string>{394,66}</string>
      </dict>
      <key>btn_num.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{180,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,98}}</string>
        <key>sourceSize</key>
        <string>{180,98}</string>
      </dict>
      <key>btn_confirmJoin.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,100},{198,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,82}}</string>
        <key>sourceSize</key>
        <string>{198,82}</string>
      </dict>
      <key>btn_joinRoom.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,184},{198,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,82}}</string>
        <key>sourceSize</key>
        <string>{198,82}</string>
      </dict>
      <key>btn_close.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,0},{75,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,76}}</string>
        <key>sourceSize</key>
        <string>{75,76}</string>
      </dict>
      <key>icon_delete.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,0},{73,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,42}}</string>
        <key>sourceSize</key>
        <string>{73,42}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>joinRoom.png</string>
      <key>size</key>
      <string>{976,844}</string>
      <key>textureFileName</key>
      <string>joinRoom.png</string>
    </dict>
  </dict>
</plist>