<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ququ_box.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{750,622}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{750,622}}</string>
        <key>sourceSize</key>
        <string>{750,622}</string>
      </dict>
      <key>startbattle.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,0},{750,503}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{750,503}}</string>
        <key>sourceSize</key>
        <string>{750,503}</string>
      </dict>
      <key>waitingBet_bg.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,505},{751,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{751,254}}</string>
        <key>sourceSize</key>
        <string>{751,254}</string>
      </dict>
      <key>battle_title.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1504,0},{478,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{478,103}}</string>
        <key>sourceSize</key>
        <string>{478,103}</string>
      </dict>
      <key>room_num.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1504,105},{213,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,110}}</string>
        <key>sourceSize</key>
        <string>{213,110}</string>
      </dict>
      <key>shine_red.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,105},{198,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,100}}</string>
        <key>sourceSize</key>
        <string>{198,100}</string>
      </dict>
      <key>shine_blue.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,207},{198,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,100}}</string>
        <key>sourceSize</key>
        <string>{198,100}</string>
      </dict>
      <key>btn_quanxia.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1504,217},{198,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,82}}</string>
        <key>sourceSize</key>
        <string>{198,82}</string>
      </dict>
      <key>btn_jiazhu.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1504,301},{198,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,82}}</string>
        <key>sourceSize</key>
        <string>{198,82}</string>
      </dict>
      <key>btn_genzhu.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1704,309},{198,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,82}}</string>
        <key>sourceSize</key>
        <string>{198,82}</string>
      </dict>
      <key>betBar_red.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1504,393},{232,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{232,63}}</string>
        <key>sourceSize</key>
        <string>{232,63}</string>
      </dict>
      <key>betBar_blue.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1738,393},{231,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,63}}</string>
        <key>sourceSize</key>
        <string>{231,63}</string>
      </dict>
      <key>brn_raise_1600.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,105},{108,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>brn_raise_200.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,215},{108,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>brn_raise_800.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1505,458},{108,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>brn_raise_400.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1615,458},{108,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>btn_betDetail.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1725,458},{139,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,75}}</string>
        <key>sourceSize</key>
        <string>{139,75}</string>
      </dict>
      <key>btn_bet_red.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1866,458},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>btn_bet_blue.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1725,535},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>roomBattle.png</string>
      <key>size</key>
      <string>{2027,759}</string>
      <key>textureFileName</key>
      <string>roomBattle.png</string>
    </dict>
  </dict>
</plist>