<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bg.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{642,766}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{642,766}}</string>
        <key>sourceSize</key>
        <string>{642,766}</string>
      </dict>
      <key>btn_password.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{364,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{364,66}}</string>
        <key>sourceSize</key>
        <string>{364,66}</string>
      </dict>
      <key>btn_creatRoom.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,68},{198,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,82}}</string>
        <key>sourceSize</key>
        <string>{198,82}</string>
      </dict>
      <key>btn_close.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,68},{75,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,76}}</string>
        <key>sourceSize</key>
        <string>{75,76}</string>
      </dict>
      <key>btn_grey.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,68},{48,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>btn_green.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,68},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>creatRoom.png</string>
      <key>size</key>
      <string>{1015,766}</string>
      <key>textureFileName</key>
      <string>creatRoom.png</string>
    </dict>
  </dict>
</plist>